{% extends "library/base.html" %}
{% load crispy_forms_tags %}
{% block content%}
	<div class="content-section">
	  <div class="media">
	    <img class="rounded-circle account-img" src="{{user.profile.image.url}}">
	    <div class="media-body">
	      <h2 class="account-heading">{{user.username}}</h2>
	      <p class="text-secondary">{{user.email}}</p>
	      <p class="text-secondary">{{user.profile.IDnum}}</p>
	      <p class="text-secondary">{{user.profile.Role}}</p>
	    </div>
	  </div>
	  <hr style="border-color: gray;">
	  <form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Profile Info</legend>
					<!--{{u_form|crispy}}--> 
					{{p_form|crispy}}
			</fieldset>
			<div class="form-group">
				<!--<button class="btn btn-outline-info" type="submit">Update</button>--> 
				<a href="changepass">Change Password</a>
			</div>
		</form>
	</div>
	<h4>Comments by this user:</h4>
	<hr>
	<div class="content-section">
		{% for comment in user.comment_set.all %}
			<p>{{ comment.comment }}</p>
			<hr style="border-color: gray;">
			<p class="text-muted"><strong>Commented on:</strong> <a class="article-title" href="{% url 'book-detail' comment.book.id %}">{{ comment.book }}</a></p>
		{% endfor %}
	</div>
	<h4 class="mr-2">Borrowed books:</h4>
	<hr>
	<div class="content-section">
		{% for bookinstance in user.bookinstance_set.all %}
			<a class="article-title" href="{% url 'book-detail' bookinstance.book.id %}">{{ bookinstance.book }}</a>
			<p class="text-muted"><strong>Due back:</strong> {{bookinstance.due_back}}</p>
		{% endfor %}
	</div>
{% endblock content %}
